<div id="pace" class="row">
  <div class="large-6 large-offset-3">
    <form name="calculator" ng-submit="calculate()" novalidate>
      <fieldset class="radius">
        <div class="row">
          <div class="large-4 columns">
            Time (minutes)
            <input type="number" name="timing" placeholder="time (min)" ng-model="calc.timing" />
          </div>
          <div class="large-4 columns">
            Distance (miles)
            <input type="number" name="distance" placeholder="distance (mi)" ng-model="calc.distance" />
          </div>
          <div class="large-4 columns">
            Pace (min/mi)
            <input type="number" name="pace" placeholder="pace (min/mi)" ng-model="calc.pace" />
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <button id="log-in" type="submit" class="button large expand radius">Crunch the Numbers</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
<div id="pace-only" class="row">
  <div class="large-6 large-offset-3">
    <form name="pace-only-calculator" novalidate>
      <fieldset class="radius">
        <div class="row">
          <div class="large-4 columns">
            Time (minutes)
            <input type="number" name="timing" placeholder="time (min)" ng-model="calc.timingForPace" ng-change="calculatePace()"/>
          </div>
          <div class="large-4 columns">
            Distance (miles)
            <input type="number" name="distance" placeholder="distance (mi)" ng-model="calc.distanceForPace" ng-change="calculatePace()"/>
          </div>
          <div class="large-4 columns">
            Pace (min/mi)
            <input type="number" name="pace" placeholder="pace (min/mi)" disabled value={{calc.paceOnly}} />
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
<div id="distance-only" class="row">
  <div class="large-6 large-offset-3">
    <form name="distance-only-calculator" novalidate>
      <fieldset class="radius">
        <div class="row">
          <div class="large-4 columns">
            Time (minutes)
            <input type="number" name="timing" placeholder="time (min)" ng-change="calculateDistance()" ng-model="calc.timingForDistance" />
          </div>
          <div class="large-4 columns">
            Pace (min/mi)
            <input type="number" name="pace" placeholder="pace (min/mi)" ng-model="calc.paceForDistance" ng-change="calculateDistance()"/>
          </div>
          <div class="large-4 columns">
            Distance (miles)
            <input type="number" name="distance" placeholder="distance (mi)" value={{calc.distanceOnly}} disabled />
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
