<div id="pace" class="row">
  <div class="large-6 large-offset-3">
    <form name="calculator" ng-submit="calculate()" novalidate>
      <fieldset class="radius">
        <div class="row">
          <div class="large-4 columns">
            <input type="number" name="timing" placeholder="time (min)" ng-model="calc.timing" />
          </div>
          <div class="large-4 columns">
              <input type="number" name="distance" placeholder="distance (mi)" ng-model="calc.distance" />
          </div>
          <div class="large-4 columns">
              <input type="number" name="pace" placeholder="pace (min/mi)" ng-model="calc.pace" />
          </div>
        </div>

        <div class="row">
          <div class="large-12 columns">
            <button id="log-in" type="submit" class="button large expand radius">Crunch the Numbers</button>
          </div>
        </div>
      </fieldset>
    </form>
  </div>
</div>
